* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.15rem;
}

.display {
  position: relative;
  padding-top: 4vh;
  height: 100%;
  background-color: papayawhip;
}

.display::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-image: url("../public/img/background-img.jpg");
  min-height: 100%;
  min-width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  filter: blur(2px) grayscale(50%) opacity(0.5);
}

.stack {
  position: relative;
}

#active {
  border-radius: 5px;
  border: 2px solid tomato;
  background: tomato;
  color: white;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
}